
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Lato-Regular.ttf') format('ttf');
}

* {
	font-family: 'Lato', sans-serif;
}

.section {
	@apply min-h-screen bg-gray-100 flex items-center justify-center px-8 relative;
}
.card {
	@apply w-full max-w-md bg-white  rounded-3xl shadow-lg border-gray-300;
}

.btn {
	@apply w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 rounded-lg shadow transition duration-200;
}

.googlebtn {
	@apply w-full text-sm flex items-center justify-center space-x-2 py-2 px-3 text-gray-900 rounded-lg border border-gray-300 bg-gray-50 hover:bg-gray-100 transition;
}

.select {
	@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg px-1 py-2;
}

.input {
	@apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg w-full px-3 py-2;
}

.inputotp {
	@apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg w-full px-3 py-2 text-center;
}

.label {
	@apply block mb-2 mt-2 text-sm font-medium text-gray-900;
}

.para {
	@apply text-sm font-light text-gray-600 text-center;
}

.heading {
	@apply text-xl font-bold text-gray-900;
}

.logo {
	@apply w-10 h-10 mr-2;
}

.anchor {
	@apply font-medium text-gray-900 hover:underline;
}

.navbar {
	@apply bg-gray-200 border border-gray-300 text-gray-900 text-sm px-2 py-2;
}

.navbar {
	@apply flex items-center justify-between px-4  h-14;
}

.logo {
	@apply w-10 h-10;
}

.heading {
	@apply text-lg font-bold text-gray-900;
}

.user-profile-btn {
	@apply w-10 h-10 rounded-full bg-gray-300 flex items-center justify-center;
}

.user-profile-btn-text {
	@apply text-gray-800;
}

.user-menu {
	@apply absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 text-gray-900 z-50;
}

.user-name {
	@apply px-4 py-2 text-lg font-semibold text-gray-900;
}

.user-menu-item {
	@apply flex items-center w-full px-4 py-2 text-base hover:bg-gray-100;
}

.user-menu-item.delete-account {
	@apply text-red-500 bg-transparent hover:bg-red-100 border-none cursor-pointer;
}

.user-menu-item.delete-account:hover {
	@apply text-red-700;
}

.user-menu-divider {
	@apply border-gray-200;
}

.sidebar {
	@apply w-16 sm:w-56 min-h-screen bg-gray-200 border-gray-200 text-gray-900 px-4 sm:px-8 py-4;
}

.sidebar-list {
	@apply space-y-2;
}

.sidebar-item {
	@apply flex items-center hover:bg-gray-300 px-2 py-2 rounded;
}

.sidebar-item span {
	@apply ml-2;
}

.sidebar-icon {
	@apply w-5 h-5 mr-3;
}

.sidebar-text {
	@apply hidden sm:inline  text-base;
}

.iconsize {
	@apply w-5 h-5;
}

.btn1 {
	@apply bg-gray-100 px-4 py-2 text-gray-900 rounded-md shadow hover:bg-gray-200;
}
.btn1.active {
	@apply bg-sky-200;
}

.table1 {
    @apply w-full border border-gray-200 rounded-lg;
  }
 .th1 {
    @apply text-center text-lg font-semibold  border border-gray-200 dark:border-gray-200;
  }
.td1 {
    @apply text-center text-sm  border border-gray-200 dark:border-gray-200;
  }
.tr1 {
    @apply w-full border border-gray-200 dark:border-gray-200;
  } 
.taskbutton1 {
	@apply space-x-8 sm:space-x-2  text-sm sm:text-base my-3 mx-2 sm:mx-8 flex flex-row text-center;
}

.taskbutton2 {
	@apply space-y-2 sm:space-y-0 sm:space-x-2 mx-2 sm:mx-8 sm:text-base flex flex-col md:flex-row text-sm;
}

.tabs {
	@apply w-full border rounded-lg;
}

.thead {
	@apply sticky top-0 text-sm sm:text-base text-gray-900 bg-gray-300;
}

.tabledata {
	@apply text-center text-sm border border-gray-200 dark:border-gray-600 hover:bg-gray-100;
}

.tbody {
	@apply block overflow-y-auto;
}

.chart {
	@apply h-80 w-full relative;
}

.canvas {
	@apply absolute inset-0 w-full h-full;
}
.text-center {
	text-align: center;
  }
.p-4 {
	padding: 1rem;
  }

thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}
